# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtualenv
.venv/
venv/

# Poetry
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Celery
celerybeat-schedule
celerybeat.pid

# Redis
dump.rdb

# Coverage
htmlcov/
.coverage
.coverage.*

# Test output
*.tmp
*.test
*.out
*.spec

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Windows Python launcher
*.manifest
*.dll

# Env files
.env
.env.*
